
.formContent {
    background-color: rgb(223, 222, 215);
    /* display: block; */
    /* flex-direction: row; */
   
    
}

.pharmform {

 }
.pharmform label {
    border: 1px solid rgb(179, 179, 179);
    border-radius: 3px;
    padding: 1rem;
    min-width:60%;
    background-color: whitesmoke;

}

.pharmform input {
    min-width:100%;
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;

}

.labelInput{
    min-width: 74% !important;
}

.formgroup {
    display: flex;
    margin: 0.2rem;
}

.btn button{
    display: block;
    margin: 0.1rem;
    background-color: whitesmoke;
    padding: 1rem 2rem;
    border: 1px solid rgb(224, 221, 221);
    /* border-radius: 1px; */
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    
    
}

.graphContent {
    display: flex;
    min-width: 30%;
    background-color: whitesmoke;
    border-radius: 5px;
    /* margin: 0 auto; */
}

.formdetails {
  display: flex;
  gap: 35%;
  padding: 3rem ;

  

}